.counter-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

.counter {
  font-size: 150px;
  font-weight: 200;
}

.number {
  text-align: center;
  display: inline-block;
  width: 83px;
}

.uptime-btn {
  position: absolute;
  transform: translateX(380px);
}

.uptime-btn:focus {
  outline: none;
}

.uptime-btn:focus .plus-color circle,
.uptime-btn:hover .plus-color circle {
  fill: var(--semi-dark-green);
}

.uptime-btn:active .plus-color circle {
  fill: var(--dark-green);
}

@media (max-width: 560px) {
  .counter {
    font-size: 60px;
  }
  .number {
    width: 38px;
  }

  .uptime-btn {
    transform: translateX(170px);
  }

  .uptime-btn svg{
    width: 35px;
    height: 35px;
  }
}
