.chart {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.chart__top {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 73px;
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
  padding-right: 20px;
  background-color: var(--light-grey);
  transition: all var(--transition);
}

[data-theme='dark'] .chart__top {
  background-color: var(--dark-423);
}

.chart__footer {
  width: 100%;
  height: 47px;
  background-color: var(--average-grey);
  transition: all var(--transition);
}

[data-theme='dark'] .chart__footer {
  background-color: var(--dark-2b2);
}

.line {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
}

.line::before {
  content: '';
  width: 88%;
  height: 1px;
  background-color: var(--semi-light-grey);
}

.time {
  font-size: 12px;
}
