.timer-wrapper {
  grid-column: span 7;
  grid-row: span 3;
}

.plus-color circle{
  transition: fill .3s;
}

@media (max-width: 1024px) {
  .timer-wrapper {
    grid-column: 1 span;
    grid-row: auto;
    order: -1;
  }
}

@media (max-width: 560px) {

  .body {
    padding: 14px 0 30px 0;
  }

  .header {
    padding: 10px 12px;
    font-size: 12px;
  }

}
