.body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0 115px 0;
  background-color: var(--light-grey);
  transition: all var(--transition);
}

[data-theme='dark'] .body {
  background-color: var(--dark-423);
}

.description {
  margin-bottom: 32px;
  line-height: 17px;
}

.description__text {
  color: var(--semi-grey);
}

@media (max-width: 560px) {
  .body {
    padding: 14px 0 30px 0;
  }
}
