.item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid var(--semi-light-grey);
  border-top: 1px solid var(--semi-light-grey);
  margin-top: -1px;
  font-weight: 300;
  line-height: 17px;
}

.item--active {
  border-color: var(--red);
}

.item__content {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--grey);
  margin-right: 18px;
}

.counter--active {
  border-color: var(--red);
}

.total-time {
  color: var(--semi-grey);
  font-weight: 300;
  line-height: 17px;
}

.name {
  margin-right: auto;
  overflow: hidden;
}

.input {
  position: relative;
  margin-right: auto;
  max-width: 250px;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--semi-light-grey);
}

@media(max-width: 560px) {
  .item {
    font-size: 14px;
  }
}
