.item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid var(--semi-light-grey);
  font-weight: 300;
  line-height: 17px;
}

.item:first-child {
  border-top: 1px solid var(--semi-light-grey);
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--grey);
  margin-right: 18px;
}

.total-time {
  color: var(--semi-grey);
  font-weight: 300;
  line-height: 17px;
}

.name {
  margin-right: auto;
}

@media(max-width: 560px) {
  .item {
    font-size: 14px;
  }
}
