.item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 0;
  margin-top: -1px;
  font-weight: 300;
  line-height: 17px;
  cursor: grab;
}

.item[aria-pressed] {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  cursor: grabbing;
  z-index: 10;
}

.item[aria-disabled=true] {
  cursor: not-allowed;
}

.item::before,
.item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--semi-light-grey);
}

.item::before {
  top: 0;
}

.item::after {
  bottom: 0;
}

.item--active {
  border-color: var(--red);
}

.item__content {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--grey);
  margin-right: 18px;
}

.counter--active {
  border-color: var(--red);
}

.total-time {
  color: var(--semi-grey);
  font-weight: 300;
  line-height: 17px;
}

.name {
  margin-right: auto;
  overflow: hidden;
}

.input {
  position: relative;
  margin-right: auto;
  max-width: 250px;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--semi-light-grey);
}

[data-theme='dark'] .input {
  background-color: var(--dark-423);
  color: var(--white);
}

@media(max-width: 560px) {
  .item {
    font-size: 14px;
  }
}
