.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
  transform: translate(-62px, 40px);
  border: 1px solid var(--grey);
  background-color: var(--white);
  list-style: none;
}

.menu::after {
  content: "";
  position: absolute;
  left: calc(50% - 5px);
  transform: translateY(-5px) rotate(135deg);
  width: 10px;
  height: 10px;
  z-index: -1;
  background-color: var(--white);
  border-left: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
}

.btn {
  position: relative;
  margin-left: auto;
}

.btn:disabled svg path {
  fill: var(--grey)
}

.main-btn::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  transform: translate(-30px, -6px);
  border-radius: 50%;
  background-color: var(--light-grey);
  transition: opacity .2s, background-color .2s;
  opacity: 0;
}

.main-btn:focus {
  outline: none;
}

.main-btn:focus::after {
  opacity: 1;
}

.main-btn:hover::after {
  opacity: 1;
}

.main-btn:active::after {
  background-color: var(--semi-light-grey);
  opacity: 1;
}


.btn {
  display: flex;
  width: 100%;
  padding: 10px;
  color: var(--semi-grey);
  transition: background-color .3s, transform .3s;
}

.icon {
  pointer-events: none;
  position: relative;
  z-index: 10;
}

.svg {
  margin-right: 5px;
  transition: transform .3s;
}

.btn:focus {
  outline-color: var(--green);
}

.btn:hover {
  background-color: var(--light-grey);
}

.btn:active {
  background-color: var(--semi-light-grey);
}

@media(max-width: 1024px) {
  .menu {
    transform: translate(-126px, 40px);
  }
}
